<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
</head>
<body>
<form action="/students/update" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${student.id}">
    Name: <input type="text" name="name" th:value="${student.name}"><br>
    Surname: <input type="text" name="surname" th:value="${student.surname}"><br>
    <input type="file" name="picture"><br>
    <select name="lesson.id">
        <option th:each="lesson : ${lessons}" th:selected="student.lesson.id == lesson.id"
                th:text="${lesson.title}" th:value="${lesson.id}"></option>
    </select><br>
    <select name="userType">
        <option selected>STUDENT</option>
        <option>TEACHER</option>
    </select><br>
    <input type="submit" value="Update">
</form>

<img th:if="${student.picName != null}" th:src="@{/getImage(picName=${student.picName})}" width="40">
<a th:if="${student.picName != null}" th:href="@{'/students/image/delete/' + ${student.id}}">delete picture</a>
</body>
</html>