<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Users</title>
</head>
<body>
<th:block th:include="/fragment/headerFragment::userInfo"/>

Users | <a href="/users/add">Add User</a><br>

<div th:if="${currentUser.userType.name() == 'STUDENT'}">
    <a th:href="@{'/messages/' + ${currentUser.id}}">My messages</a>
</div>

<br>

<span th:if="${msg != null}" th:text="${msg}" style="color: red"></span>

<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>picture</th>
        <th>lesson title</th>
        <th>user type</th>
        <th>update</th>
        <th>delete</th>
        <th th:if="${currentUser.userType.name() == 'STUDENT'}">Send Message</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <img th:if="${user.picName != null}" th:src="@{/getImage(picName=${user.picName})}" width="40">
        </td>
        <td>
            <a th:if="${user.lesson != null}" th:href="@{'/lessons/singleLesson/' + ${user.lesson.id}}"><span
                    th:if="${user.lesson != null}"
                    th:text="${user.lesson.title}"></span></a>
            <span th:if="${user.lesson == null}">No lesson yet</span>
        </td>
        <td th:text="${user.userType}"></td>
        <td><a th:href="@{'/users/update/' + ${user.id}}">Update</a></td>
        <td><a th:href="@{'/users/delete/' + ${user.id}}">Delete</a></td>
        <td th:if="${currentUser.userType.name() == 'STUDENT'}">
            <a th:if="${user != currentUser}" th:href="@{'/messages/send/' + ${user.id}}">Send Message</a>
        </td>
    </tr>
</table>
</body>
</html>